/* Chart.css */
/* Chart.css */
.chart-container {
    position: relative;
  }
  
  .chart-container button {
    position: absolute;
    top: 20px; /* Ajustez selon vos besoins */
    right: 20px; /* Ajustez selon vos besoins */
    padding: 10px 20px; /* Ajustez selon vos besoins */
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .chart-container button:hover {
    background-color: #0056b3;
  }
  